@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:wght@100;300;400&display=swap');

body{
    font-family: 'Lato', sans-serif;
    color: #404040;
    padding: 20px;
}


html{
    scroll-behavior: smooth;
}

img {
border-radius: 8px;
border: 1px #ffffff;
padding: 20px;
padding-bottom: 40px;
width: 400px;
  }


@media (min-width: 535px) {
.content{
    display: colum;
}

img {
    border-radius: 8px;
    border: 1px #ffffff;
    padding: 20px;
    padding-bottom: 40px;
    width: 400px;
      }


}